<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FruitVista</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FruitVista
  * Updated: Jan 09 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">FruitVista</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
       <!-- Use ml-auto for the "Inspect" link -->
       <div class="header-inspect ml-auto" style="margin-left: 80px;"> <!-- Adjust the margin value as needed -->
         <a href="/inspect" class="get-started-btn scrollto">Inspect</a>
       </div>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>FruitVista</strong></h3>
      <h1>Real-Time Harvest Recognition with OpenCV</h1>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>Learn More <span>About Us</span></h3>
          <p>FruitVista" is an engaging and practical project that leverages the capabilities of OpenCV and deep learning to create a real-time fruit detection system.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Building upon these principles, FruitVista is designed to revolutionize the way we perceive and manage fruit detection processes. Leveraging state-of-the-art technology, FruitVista seamlessly integrates OpenCV, a powerful computer vision library, to achieve real-time fruit recognition with remarkable accuracy and efficiency..
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> FruitVista employs advanced computer vision algorithms to detect a wide variety of fruits in real-time.</li>
              <li><i class="ri-check-double-line"></i> The system is equipped with a robust dataset, ensuring its adaptability to different fruit types and environments.</li>
              <li><i class="ri-check-double-line"></i> Utilizing the strengths of OpenCV, FruitVista provides a user-friendly and intuitive interface for seamless integration into agricultural or commercial workflows.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
             <p>
              FruitVista goes beyond mere detection, incorporating a sophisticated fruit classification module. This module enables the system to not only identify fruits but also categorize them into specific types. Whether it's apples, oranges, or grapes, FruitVista ensures precise classification, laying the foundation for more informed decision-making in various industries.
            </p>
            <p>
              In the spirit of continual improvement, FruitVista is committed to enhancing its capabilities. Future iterations may involve incorporating machine learning models to adapt and learn from new data, ensuring the system stays at the forefront of real-time fruit detection technology.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   
   
   

    
    <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
       <div class="container">

         <div class="section-title">
          
           
           <p>Here the details</p>
         </div>

         <div class="row" data-aos="fade-up">
           <div class="col-lg-5">
             <div class="info-box mb-4">
               <i class="bx bx-map"></i>
               <h3>Our Address</h3>
               <p>Hyderabad , TS</p>
             </div>
          </div>

          <div class="col-lg-3 col-md-6">
             <div class="info-box  mb-4">
               <i class="bx bx-envelope"></i>
               <h3>Email Us</h3>
               <p>example.com</p>
             </div>
           </div>

           <div class="col-lg-3 col-md-6">
             <div class="info-box  mb-4">
               <i class="bx bx-phone-call"></i>
               <h3>Call Us</h3>
               <p>+91 xx xxx xx </p>
             </div>
           </div>

         </div>

        
           </div>

         </div>

       </div>
     
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

         
    
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>